{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
Main page
{% endblock %}

{% block body %}
<aside>
  <div class="logo-block">
    <img src="{% static 'main/images/index_logo.jpeg' %}" alt="logo">
    <span class="logo">Universe</span>
  </div>

  <h3>Навигация</h3>
  <ul>
    <a href="{% url 'registry' %}"><li><i class="bi bi-person-fill"></i> Профиль</li></a>
    <a href=""><li><i class="bi bi-vimeo"></i> Услуги</li></a>
    <a href=""><li><i class="bi bi-text-indent-left"></i> Контакты</li></a>
<!--    <a href=""><li>Об нас</li></a>-->
  </ul>
</aside>

<main class="main-content" style="margin-left: 20%; position: relative;">
  <div class="top-banner d-flex justify-content-end align-items-center">
    <div class="triangle"></div>
    <a href="{% url 'registry' %}" class="me-3">
      <i class="bi bi-person-circle text-primary fs-4"></i>
    </a>
    <a href="" class="me-4">
      <i class="bi bi-cart-plus"></i>
    </a>
  </div>

  <div class="container py-5 text-center">

    <img src="{% static 'main/images/index_front.jpeg' %}"
         alt="Internet Club Photo" class="img-fluid rounded shadow mb-4" style="max-width: 700px;">
    <h4 class="mb-5">Добро пожаловать в Universe Club</h4>


    <h5 class="mb-4">Цены</h5>
    <div class="row justify-content-center">

      <div class="col-md-3 col-sm-6 mb-4">
        <h6>В будние дни</h6>
<!--        <img src="https://cdn-icons-png.flaticon.com/512/61/61456.png"-->
<!--             alt="Clock Weekdays" class="img-fluid mb-2" style="max-height: 120px;">-->
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
          <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"/>
        </svg>
        <div>
          <button class="btn btn-secondary btn-sm">Забронировать</button>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <h6>Выходные</h6>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
          <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"/>
        </svg>
<!--        <img src="https://cdn-icons-png.flaticon.com/512/61/61456.png"-->
<!--             alt="Clock Weekends" class="img-fluid mb-2" style="max-height: 120px;">-->
        <div>
          <button class="btn btn-secondary btn-sm">Забронировать</button>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}